<p id="notice"><%= notice %></p>

<p>
  <strong>Visit date:</strong>
  <%= @visit.visit_date %>
</p>

<p>
  <strong>Hospitalized:</strong>
  <%= @visit.hospitalized %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @visit.doctor %>
</p>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
