<p id="notice"><%= notice %></p>

<h1>Listing Bills</h1>

<table>
  <thead>
    <tr>
      <th>Bill number</th>
      <th>Patient</th>
      <th>Issue date</th>
      <th>Hospitalization</th>
      <th>Blood test</th>
      <th>Doctor fees</th>
      <th>Blood chemistry test</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.bill_number %></td>
        <td><%= bill.patient %></td>
        <td><%= bill.issue_date %></td>
        <td><%= bill.hospitalization %></td>
        <td><%= bill.blood_test %></td>
        <td><%= bill.doctor_fees %></td>
        <td><%= bill.blood_chemistry_test %></td>
        <td><%= bill.total %></td>
        <td><%= link_to 'Show', bill %></td>
        <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
        <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill', new_bill_path %>
